:root {
    --first-sect-bg-color: #1a1a1a;
    --first-sect-text-color: #d0d0d0;
}

.first-section {
    background-color: var(--first-sect-bg-color);
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
.title {
    font-size: 36px;
}
.my-image {
    margin: 1rem;
}
.first-sect-describe {
    color: #c9c9c9;
}
/* .subtitle {} */
/* .describe {} */
